.cartitems {
    margin: 100px 170px;
}
.cartitems hr {
    height: 1.5px;
    background: #e2e2e2;
    border: 0;
}
.caertitems__format__main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems__format {
    font-size: 17px;
    font-weight: 500;
}
.cartitem__product__icon {
    height: 62px;
    border-radius: 10px;
}
.cartitems__remove__icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}
.cartitems__quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #ffff;
    border-radius: 10px;
}
.cartitems__down {
    display: flex;
    margin: 100px 0px;
}
.cartitems__total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems__totalitems {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems__total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems__promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems__promocode p {
    color: #555;
}
.cartitems__promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartitems__promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems__promobox button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}