.descriptionbox {
    margin: 120px 170px;
}
.descriptionbox__nav {
    display: flex;
}
.descriptionbox__nav__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 30px 0;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
    border-radius: 20px;

}
.descriptionbox__nav__box.fade {
    background: #fbfbfb;
    color: #555;
}
.descriptionbox__des {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
    border-radius: 20px;
}